.form__section{
    background: #fff;
    .form__wrapper{
        form{
            input{
                box-shadow: none !important;
                height: 2.8rem;
                border-radius: 0;
                font-size: .8rem;
                color: #545454;
                opacity: .9;
                outline: #545454;
                // background: #F5F5F5;
            }
            textarea{
                height: 9rem;
                border-radius: 0;
            }
            label{
                color: #545454;
                font-weight: bold;
                font-size: .8rem;
            }
            .blog__btn{
                background: #241E65;
                color: #fff;
                padding-top: .9rem;
                padding-bottom: 1.2rem;
                padding-left: 2.2rem;
                padding-right: 2.2rem;
                border: none;
                border-radius: 3px;
                font-size: .8rem;
            }
        }
    }
}