@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.navbar__wrapper{
    padding: .2rem;
    box-shadow: 5px 0px 5px rgba(0,0,0,.15);
    position: fixed;
    background: #fff;
    z-index: 1000 !important;
    top: 0;
   .nav-link{
       color: #403e54;
       font-size: .82rem;
       font-weight: bold;
       padding-top: 1.5rem;
   }
   .navbar__toggler{
       display: none;
   }
}

//MEDIA QUERIES
@media only screen and (max-width: 1000px){
    .navbar__toggler{
        display: block !important;
        cursor: pointer;
        font-size: 1.3rem;
        color:#4300C2;
        padding-right: 1rem;
    }
    ul{
        background: red;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -180;
    }
}