@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
body{
    font-family: 'Rubik';
    overflow-x: hidden;
    position: relative;
}