.security__wrapper{
    padding: 4rem 0;
    h3{
        color: #241E65;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    p{
        color: #545454;
        font-size: .8rem;
        opacity: .8;
    }
    .security{
        max-width: 250px;
        height: auto;
    }
}